[2019-12-31 04:05] XuHaoIgeneral opened #3 "How to connection other nodes?"
Connection: "local",
        }

when i chnage `Connection: local`  to  `Connection:<my node ip>`  。

                Connection: "192.168.1.176",
        }

*Additional context:*

Go-ansible example =>  	to retry, use: --limit @/root/go/src/github.com/apenella/go-ansible/examples/simple-ansibleplaybook/site.retry
Go-ansible example =>
Go-ansible example =>  PLAY RECAP

[2019-12-31 10:14] apenella commented on #3
Hi, @XuHaoIgeneral
In that case you would skip `Connection` definition. You should define your node on ansible's inventory and set the playbook hosts to use that node.

[2019-12-31 10:16] XuHaoIgeneral commented on #3
thanks.

[2019-12-31 10:16] #3 closed

[2020-01-30 02:40] Psharm89 opened #4 "How to define variable for inventory and extra-vars.??"
I am using go func will which pass the hostname and dbname to the ansiblePlaybookOptions  but i am trying to use that variable getting below error.

[code]
`syntax error: unexpected newline, expecting comma or }`

[2020-01-30 18:36] apenella commented on #4
hi, @Psharm89
try this:
[code]
it should work.

[2020-01-31 05:44] Psharm89 commented on #4
Yes, ansible execution is working fine for me, when i am passing constants value hostname and dbname.

[code]

but i am looking for how can i pass variable in inventory or hostname and extra-vars because my hostname and dbname keep changing.

**some rough example:**
[code]

[2020-01-31 05:56] apenella commented on #4
Hi @Psharm89
you missed the comma at the end of the host when you call `ansible`func.

[code]

[2020-02-03 09:57] Psharm89 commented on #4
Thanks its worked for me.

[2020-02-03 09:57] #4 closed

[2020-06-30 17:42] koddr opened #5 "How to pass -u and --ask-become-pass options?"
Hello! Thanks for this Go package.

Can you tell me please, how to pass `-u` and `--ask-become-pass` to execution via your package?

Thanks! 😉

[2020-07-01 05:45] apenella commented on #5
Hi @koddr
The package is not ready to use those arguments but I will include them on the next few days.

Thanks!

[2020-07-01 06:03] koddr commented on #5
@apenella thx for reply!

Okay, I understand you. Can't wait to test this on my project 👍

[2020-07-02 09:23] #5 closed

[2020-07-03 05:58] apenella commented on #5
@koddr [version 0.4.0](https://github.com/apenella/go-ansible/commit/d4c420ecbd5af288b016084c08f8c10d4487562b) includes escalation privileged options and new opt on connection options to set the ssh user.

[2020-07-03 06:18] koddr commented on #5
@apenella thx! You rock 👍

[2020-08-24 13:31] apenella opened #10 "Update documents with an example of how to retrieve output"

[2020-08-24 13:31] apenella opened #11 "Update documents with an example of how to retrieve output"
hey Aleix,

when you have time can you please update docs with an example on how to retrive output?

thanks
Luca

_Originally posted by @lucabodd in https://github.com/apenella/go-ansible/pull/9#issuecomment-678966714_

[2020-08-24 13:32] apenella commented on #10
duplicated https://github.com/apenella/go-ansible/issues/11

[2020-08-24 13:32] #10 closed

[2020-08-24 13:34] apenella commented on #11
@lucabodd I will do it as soon as I can :)

[2020-08-25 06:06] apenella commented on #11
Hi @lucabodd
I described the json result output on https://github.com/apenella/go-ansible#results. There is also an example on https://github.com/apenella/go-ansible/tree/master/examples/simple-ansibleplaybook-json. As you will see, you only need to set `AnsiblePlaybookCmd`'s `StdoutCallback` value to `json`.

[code]

Thank you!

[2020-08-25 07:11] lucabodd commented on #11
Hi @apenella

First of all thank you for your time!
How about if I want to take, for example, stdout_lines or some other attributes from json output?

t

[2020-08-26 15:35] apenella commented on #11
Hi @lucabodd
unfortunately there is no way to format the json's `StdoutCallbackResultsFunc` output or access to json data using the `DefaultExecutor` and `StdoutCallbackResultsFunc`.

You could write your own executor based on `DefaultExecutor` and call `result.JSONParse` instead of `StdoutCallbackResultsFunc`, to manage the ansible's result.
JSONParser returns an `AnsiblePlaybookJSONResults`, whi

[2020-10-05 19:42] sharuuu commented on #11
@apenella  I too was looking for the reading the stdout to retrieve a specific field. I was trying to follow what you had suggested above but could not get it working(am a new bee with GoLang).
@lucabodd did you mange to get it working?!

It would be of great help if this can be added to the examples.

[2020-10-05 19:54] lucabodd commented on #11
Hello @sharuuu
actually I forked the library to suit my needs.
If you want to check it out take a look here
https://github.com/lucabodd/go-ansible

[2020-10-06 06:20] apenella commented on #11
@sharuuu @lucabodd I defined the Executor as an interface to flexiblize the library usage. I will write an example with a custom executor that parses the JSON output.
I will take a look to @lucabodd's fork to get ideas to improve and make more usable go-ansible library.
Thanks!

[2020-10-06 21:40] sharuuu commented on #11
@lucabodd thanks for the link I was able to get it working for my use case.

@apenella thanks for considering the request, one thought to improve upon @lucabodd solution would be to return stream instead of plain string, that can give handle to console output as it occurs rather than have to wait for complete execution of a play book.

[2020-10-07 06:05] apenella commented on #11
@sharuuu thank you very much. Let me check how @lucabodd manages the output and how I could implement it here.

[2020-11-14 15:53] apenella commented on #11
Hi @lucabodd @sharuuu
I am working on https://github.com/apenella/go-ansible/pull/13,
I have updated how the JSON output is managed by [JSONStdoutCallbackResults](https://github.com/apenella/go-ansible/blob/v0.6.0-dev/stdoutcallback/results/ansiblePlaybookJSONResults.go#L138). As you proposed, I do not manipulate the output within ResultsFunc and the json returned by ansible-playbook is wrote on t

[2020-12-08 15:00] apenella commented on #11
pull request #13 has been merged

[2020-12-08 15:00] #11 closed

[2020-12-14 08:07] kinnylee opened #16 "How to kill the process"
DefaultExecute Execute function don't save exec.Command object, I can't call cmd.Process.Kill() to kill the ansible-playbook process.

[2020-12-15 15:25] apenella commented on #16
Hi @kinnylee
DefaultExecute does not provide any control over ansible-playbook process then you can't kill it.
I will think how to solve it.
By the way, you could build your own executor, while the default executor does not support it.

Thank you!

[2021-01-12 21:53] deveshk0 opened #18 "Any plans to add rest interface"
is there plan to add rest interface to this, so playbooks can be excuted via rest calls

[2021-01-14 07:14] apenella commented on #18
Hi @deveshk0
There is no plans to add a rest interface. I want the package to act as a simple ansible-playbook interface for go.
I see a rest interface as an application that runs in front go-ansbile, not a package feature.

I could think to code a rest api to interact to go-ansible in the future, because its sounds good, but I would do as a new project.

I close your issue.

Thanks!

[2021-01-14 07:14] #18 closed

[2021-01-21 02:30] yjbdsky opened #19 "can not parse playbook file, like site.yml"
this library can not parse playbook file, like site.yml?

[2021-01-21 07:00] apenella commented on #19
@yjbdsky no the library just runs the playbook using your system's `ansible-playbook`.
Do you have any other question?

Regards,

[2021-01-21 09:19] clementblaise commented on #19
Is it possible to pass an inventory file as `ansible-playbook -i <inventory>` option ?

[2021-01-21 14:21] clementblaise opened #21 "Add virtualenv option"
Hello,

Right now it's only possible to launch with the default `ansible-playbook` binary.

As you may know managing Ansible modules directly through default `pip` installed on the system is a nightmare (I have already broken machine myself ;). The best practice we have is to always set it up through virtualenv and I think it's pretty conventional.

I am aware that it would work when the virtualen

[2021-01-21 21:27] apenella commented on #21
hi @clementblaise.
As I could understand, you propose to have the chance to configure the binary.
I could work on it on the next few days, it should not be complicated.

In case you already code it, submit a PR.

[2021-01-23 14:46] apenella commented on #19
@yjbdsky since there is no other question, I close this issue.

[2021-01-23 14:46] #19 closed

[2021-01-23 14:56] apenella commented on #21
hi @clementblaise
I created #22 that includes what you proposed.

[2021-01-23 14:59] clementblaise commented on #21
Thanks @apenella I did't have the time to work on the PR, looks perfect !

[2021-01-23 14:59] #21 closed

[2021-01-26 03:59] zhangguanzhang commented on #16
could use this method https://golang.org/pkg/os/exec/#CommandContext

[2021-01-26 07:22] apenella commented on #16
Thanks @zhangguanzhang!
I have not started working on this issue but, as you has pointed out, is a good approach to use a context to manage it, and use https://golang.org/pkg/os/exec/#CommandContext sounds good.

I need to think in depth how inject that context. I may create an attribute on `AnsiblePlaybookCmd` for the context but I don't if I want it.
@kinnylee what do you think about to manage t

[2021-01-26 09:15] zhangguanzhang commented on #16
could use a demo,like this
[code]
and get the ctx to `cmd.CommandContext`, and https://github.com/apenella/go-ansible/blob/master/execute/defaultExecute.go#L107-L111 change to
[code]
[code]

[2021-01-28 07:43] marksugar opened #24 "exec: "ansible-playbook": executable file not found in %PATH%"
windows vscode use
[code]
linux all normal

windows application how to set this individual PATH 。ansible-playbook file create ok

thanks

[2021-01-29 15:53] apenella commented on #24
Hi! @marksugar
I included the `exec.LookPath` validation on #22, since you could use any `ansible-playbook` binary on `AnsiblePlaybookCmd`.
Have you tried to define the whole `ansible-playbook` path on [`AnsiblePlaybookCmd.Binary`](https://github.com/apenella/go-ansible/blob/master/ansiblePlaybook.go#L108)? You could also include your `ansible-playbook`'s folder on the PATH.

Have you been using `

[2021-02-05 14:47] clementblaise opened #25 "Add Ansible ad-hoc"
Hi,

Would it make sense to add the ad hoc module in this repo?

I really like how this repo enable to use playbook with go and I would like to use the mechanism for ad-hoc command. I'm wondering if I should create a new repo or if is something we could add here.

[2021-02-08 12:46] apenella commented on #25
Hi @clementblaise
thanks you very much for ideas!

What you mean is to run ad-hoc modules through `ansible` command, such is described on that link https://docs.ansible.com/ansible/latest/user_guide/intro_adhoc.html, isn't?

It would be really interesting to include other ways to interact with ansible ecosystem such ansible, ansible-galaxy,...
The package uses `ansible-playbook` command instead of

[2021-02-08 21:55] apenella commented on #24
Hi @marksugar
there is any update about these issue?

[2021-02-10 18:57] apenella opened #27 "warning messages are included on json data when is used json stdout_callback"
**Which ansible version are you using?**
ansible 2.10.5
  config file = ??/.ansible.cfg
  configured module search path = ['??/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = ??/.local/lib/python3.8/site-packages/ansible
  executable location = ??/.local/bin/ansible
  python version = 3.8.5 (default, Jul 28 2020, 12:59:40) [GCC 9.3.0]

**Which go

[2021-02-11 19:47] apenella commented on #27
On DefaultExecutor is created a multireader for stdout and stderr, then the stdout and stderr output is written on same writer and that causes an invalid json outcome when there is a warning message during playbook execution.

Here there is where is defined the multireader:
https://github.com/apenella/go-ansible/blob/master/execute/defaultExecute.go#L85

I am going to separete stdout and stderr to

[2021-02-12 15:57] #27 closed

[2021-02-13 06:35] zhangguanzhang commented on #25
I also need ad-hoc,like this command:
[code]

[2021-02-13 15:15] clementblaise commented on #25
PR #29

[2021-02-13 15:37] clementblaise opened #30 "Async callback"
Right now the only way to have result while launching a playbook is to launch ansible-playbook with de default callback. But this doesn't allow the use of result on the fly.

All other callback are synchronous, the execution need finish to get result (ex: json callback)

I went through the Ansible community callback plugins but none would enable async. Though it was been done for specific use case

[2021-02-16 10:37] zhangguanzhang opened #31 "feature: Cmd run Dir"
need ansible-plabook run `Dir` set
https://pkg.go.dev/os/exec#Cmd  `Cmd.Dir`

[2021-02-17 09:59] zhangguanzhang opened #32 "feature: Exeprefix support logformat or logger"
.

[2021-02-17 12:58] #24 closed

[2021-02-21 19:44] apenella commented on #16
hi @kinnylee, @zhangguanzhang
I start working on that issue.

@zhangguanzhang, as you proposed, I used [CommandContext](https://golang.org/pkg/os/exec/#CommandContext) method. I do not control the process state because it is already done by exec package (https://golang.org/src/os/exec/exec.go?s=6768:6841#L451)

Regarding the signals management, I do not want the packaged to have any responsability

[2021-02-22 06:34] apenella commented on #31
hi @zhangguanzhang
would you describe a little bit more which is your proposal? Is that a missing `ansible-playbook` option... what do you expect about this feature? Could you give me some example?
Is not enough to define the playbook location on `AnsiblePlaybookCmd`?

Thank you very much!

[2021-02-22 06:58] apenella commented on #32
hi @zhangguanzhang
To avoid misunderstanding I would like to receive an accurate description about your proposal.

In case your idea is to have an out like the below one:
[code]

You can write your ExecPrefix just like that:
[code]

If you would like to go further, just explain me a little bit more about what you have in mind.
Thanks a lot!

[2021-02-22 07:09] zhangguanzhang commented on #32
not the static string, like this
[code]

[2021-02-22 15:43] zhangguanzhang commented on #31
cmd.Path should could be set by user

[2021-02-24 10:44] zhangguanzhang commented on #31
I really need this feature, can you complete it in a short time？

[2021-02-25 06:34] #31 closed

[2021-02-25 11:28] zhangguanzhang commented on #31
Looking forward to the release of the next tab version

[2021-02-25 22:06] apenella commented on #31
@zhangguanzhang I merged #31 so quick that I was not realized about your update on `Executor` interface, which includes the method `SetCmdRunDir`. That is a breaking change and to avoid you to wait till v1.0.0, I would like to rethink it in some way to keep the original interface definition. Keeping the original interface will let me to release ' v0.8.0' earlier, may be on the next couple of days.

[2021-02-26 07:07] apenella commented on #31
Hi @zhangguanzhang
v0.8.0 with CmdRunDir has been released with no breaking changes.

I am refining the last ideas for v1.0.0, which will come with a few breaking changes. One of these breaking changes is a way to define options for Executor.

[2021-02-28 09:59] apenella opened #38 "Update README and write and upgrade guide for 1.0.0"
This issue is for to keep up to date go-ansible documentation and examples. Even include an upgrading to v1.0.0 guide.

[2021-03-04 07:20] apenella commented on #32
@zhangguanzhang I am working on #40 It includes a new component named transformers which lets you to customize the outputs it will be ready on v1.0.0

[2021-03-05 01:44] zhangguanzhang commented on #32
nice work

[2021-03-06 09:02] dikkini opened #41 "How to get ansible log as JSON?"
I've read doc but i did not understand, how to get ansible log as JSON?

[code]

code below make a panic
[code]

Also, there is a misstake in example https://github.com/apenella/go-ansible/blob/master/examples/simple-ansibleplaybook-json/simple-ansibleplaybook-json.go#L41

Error: `Cannot use 'buff.Bytes()' (type []byte) as type *bufio.Reader`

[2021-03-06 09:57] dikkini commented on #41
I updated to 0.8.0 version and everything is fine. thank you :D

[2021-03-06 09:57] #41 closed

[2021-03-06 14:38] apenella commented on #41
@dikkini I am glad to know that you could solve it!
Regarding the JSONParser error, on [v0.6.0](https://github.com/apenella/go-ansible/blob/master/CHANGELOG.md#v060) it changed its signature and I didn't warn that it was a breaking change and I neither tagged it with a major version, sorry.

[2021-03-06 15:09] samitpal opened #42 "Might be useful to support check and diff mode"
Not sure if it is already supported, but -C, -D options are often very useful.

[2021-03-06 15:16] apenella commented on #42
@samitpal I need to check all options for next release! thanks!

[2021-03-09 04:58] rfc2119 opened #43 "feature: support interactive input from stdin"
I have a playbook file which requires user input in order to progress. Currently, when invoking an interactive playbook from go-ansible default values for user input are taken.

How do you think this might be supported ? I was thinking of piping the stdin of `go-ansible` to ansible's stdin

[2021-03-09 06:41] apenella commented on #43
Hi! @rfc2119
Time ago I tried to write an example doing something similar to your propose but I never finished it :(
I take your idea and I am going to think how to fit it in `go-ansible`.

btw, I could remember that I used the library https://github.com/Netflix/go-expect.

[2021-03-09 22:37] dikkini opened #45 "Ansible playbook with wrong IP hang up"
I launch ansible playbook using go-ansible with wrong IP address (real IP is 192.168.2.10, i specify 192.168.2.12 - no host with such IP address). It hangup for more than 600 seconds. Sometimes 1 hour timeout, before i get an error that host is unreachable. No specific settings in code, just run playbook with specific inventory. If i sepcify wrong ssh port (23 instead of 22) - i will get an error

[2021-03-12 06:44] apenella commented on #45
hi! @dikkini
I will try to reproduce it.
Just to know a little bit more, have you defined a timout on  `AnsiblePlaybookConnectionOptions`? It still happens?

Thanks!

[2021-03-12 07:11] dikkini commented on #45
Yes. I defined timeout in connect options.
On 12 Mar 2021, 09:44 +0300, apenella ***@***.***>, wrote:

[2021-03-13 16:00] apenella commented on #45
hi @dikkin!i
I couldn't reproducte it yet.
which go-ansible version are you running?
thanks!

[2021-03-13 16:01] dikkini commented on #45
Latest. 0.8
On 13 Mar 2021, 19:00 +0300, apenella ***@***.***>, wrote:

[2021-03-14 15:35] apenella commented on #45
Hi @dikkini,

I am trying to reproduce what you are describing using the `simple-ansibleplaybook` example as base, and I could not hang it.
I updated the code to run an ansible playbook placed on my host and I update the playbooks inventory to use an unreachable vm, 192.168.0.48.
[code]
The playbook has the gathering facts enabled and it fails in a few seconds.
[code]

Since I can not reproduce it

[2021-03-14 16:00] dikkini commented on #45
It fails at start, I ll try to reproduce it tomorrow using your code
On 14 Mar 2021, 18:35 +0300, apenella ***@***.***>, wrote:

[2021-03-19 12:25] apenella commented on #16
@kinnylee  @zhangguanzhang v1.0.0 published. There you could pass a context to manage d'execution flow.

[2021-03-19 12:25] #16 closed

[2021-03-19 12:26] apenella commented on #25
@clementblaise version 1.0.0 already published . you can execute ansible adhoc command using that version

[2021-03-19 12:26] #25 closed

[2021-03-19 12:27] apenella commented on #32
@zhangguanzhang version 1.0.0 has been released and you can prepend a date time suffix using transformers

[2021-03-19 12:27] #32 closed

[2021-03-19 12:28] #38 closed

[2021-03-19 12:28] apenella commented on #42
@samitpal version 1.0.0 already support check and diff options

[2021-03-19 12:28] #42 closed

[2021-03-22 06:39] linkingli opened #47 "ssh port change"
I have modified the port of Ansible SSH and now use Go-Ansible to run Ansible PlayBook. How can I run it properly。

[2021-03-22 07:02] apenella commented on #47
hi! @linkingli
have you tried to set the variable `ansible_port` either on your inventory or as an extra-var?

Thanks!

[2021-03-22 07:26] linkingli commented on #47
Wow, thanks for replying to me so quickly, I was just about to give it a try, thanks

@apenella

[2021-03-23 21:44] apenella commented on #43
@rfc2119 thank you very much for #48

[2021-03-23 21:50] apenella commented on #43
feature available on v1.1.0

[2021-03-23 21:50] #43 closed

[2021-03-24 06:53] apenella commented on #30
hi @clementblaise
I don't know if I catch your proposal but go-ansible is just a wrapper to call ansble commands and it couldn't update ansible behavior.

If you mean to run multiple ansible commands concurrently you could do it but managing it from outside the library.
I have done it on [stevedore](https://github.com/gostevedore/stevedore) project.
On that project there is a [dispatcher](https://

[2021-03-26 18:48] abdullah-lt opened #50 "ExtraVars not enclosed in quotes"
The ansible command that is being generated when adding extra vars argument is

` ansible-playbook --extra-vars {"EC2IP":"127.0.0.1","ansible_password":"123456"} --inventory 10.10.10.120, --user root change-settings.yml`

This is not working as extra-vars json should be enclosed in qoutes like

` ansible-playbook --extra-vars '{"EC2IP":"127.0.0.1","ansible_password":"123456"}' --inventory 10.10.10

[2021-03-27 09:15] apenella commented on #50
hi! @abdullah-lt
it was already solved, which version of `go-ansible` are you using?
I recommend to use last version, though version `0.8.0` already had extravars quoted.

I have updated the example `simple-ansibleplaybook` as:
[code]

And that is the `playbook.String()` result.
[code]

[2021-03-27 15:37] abdullah-lt commented on #50
Hi @apenella
I am using the latest version - v1.1.0. There was a different code issue and I was printing the command in a different way which removed the quotes from the ansible command. Thanks for your response and example.

[2021-03-27 15:37] #50 closed

[2021-04-05 17:03] apenella commented on #45
hi @dikkini
are you still facing that issue?

thanks!

[2021-04-05 17:04] apenella commented on #47
hi @linkingli
have you already solved it'

thanks!

[2021-04-10 07:21] clementblaise commented on #30
Hi @apenella, I was looking for a way to programmatically get tasks status in a playbook while it is still running.

Your response is not exactly answering to the specific issue, but it does provide an alternative implementation of what I'm looking to do. The goal was to track the progress of multiple playbook that are run in parallel with a progress bar.

Altogether what I wanted to do initially

[2021-04-10 07:24] clementblaise commented on #25
Thanks you @apenella I will integrate it into my project

[2021-04-29 05:33] apenella commented on #30
hi @clementblaise
I been thinking about you said, the progress bar, and it should be tackled from ansible side, using a plugin or whatelse. go-ansible is just a wrapper that execute ansible commands and does not know anything that happens inside ansible.

If you don't mind, since you have a solution to run several playbooks concurrently, I close that issue.

Thanks for all!

[2021-04-29 05:33] #30 closed

[2021-04-29 05:34] apenella commented on #45
Since there is no response, I am going to close that issue.
@dikkini In case you could reproduce it, just reopen it!

thanks!

[2021-04-29 05:34] #45 closed

[2021-04-29 05:35] apenella commented on #47
Since there is no response, I am going to close that issue.
@linkingli in case you need anything else about that issue, just reopen it.

Thanks!

[2021-04-29 05:35] #47 closed

[2021-05-04 16:49] TheFieryLynx opened #51 "Mistake in comment - "matc" instead of "match""
https://github.com/apenella/go-ansible/blob/fa19e49e935d755bf36c5f9b1fe43dcdff602066/pkg/execute/defaultExecute_test.go#L36

[2021-05-04 17:29] TheFieryLynx opened #52 "Duration + Json parsing"
if i make:
[code]
then:
[code]
then:
[code]

it will be error:

[code]

Because of line in the end of output: "Duration: 5.348349791s"

Sorry, if it's my mistake! Amazing rep!

[2021-05-04 19:28] apenella commented on #52
Hi @TheFieryLynx!
you are right, when you would like to show the duration with json stdout, it breaks the outcome json returned by ansible.
I am going to think how to be protected again it.

Thanks!

[2021-05-04 19:32] apenella commented on #51
@TheFieryLynx fixed!
thanks!

[2021-05-04 19:32] #51 closed

[2021-05-04 19:40] apenella opened #53 "Execute ansible-galaxy commands"
**Enhacement request**
Execute ansible-galaxy commands using go-ansible package.

- Main command options:
[code]

- Collection subcommand options:
[code]

- Role subcommand options:
[code]

[2021-05-04 19:41] apenella opened #54 "Create execution flow to execute the ansible-galaxy installation before ansible-playbook execution"
**Enhacement request**
Install collection or roles dependencies before run ansible command

[2021-06-01 19:48] xiangpingjiang opened #55 "If it is possible to add a list variable as extra-vars"
[code]
in the example of go-ansible:
[code]
The value of the extra-vars must be string?
If it is possible to add a list variable as extra-vars?
Thank you very much

[2021-06-02 05:47] apenella commented on #55
hi @xiangpingjiang
As you could see on the link below `AddExtraVar` method accepts an interface{} as value, then it can be an slice, int, bool,.. or even another map.
https://github.com/apenella/go-ansible/blob/master/pkg/playbook/ansiblePlaybook.go#L414

Following your `ansble-playbook` command, you need to define the ghosts values on a slice and then pass it as value.
[code]
Do you have anyother

[2021-06-02 06:50] xiangpingjiang commented on #55
Hi @apenella
thanks for your reply
I have tried  it, but i got a panic: Unmarshall error
json: cannot unmarshal array into Go struct field AnsiblePlaybookJSONResultsPlayTaskHostsItem.plays.tasks.hosts.msg of type string

[2021-06-18 07:21] weichenqi commented on #55
Hi @apenella
When I excute with command----(1.1.1.1 is unrechabled host for test)
/opt/homebrew/bin/ansible-playbook --extra-vars '{"host_name":"10.200.75.152,10.200.75.136,1.1.1.1"}' --inventory 10.200.75.136,10.200.75.152,1.1.1.1 --user root nstall-nginx.yml
is ok.
but with go-ansible i got a panic:
panic: Error during command execution: ansible-playbook error: parser error
tips:when i del 1.1.1

[2021-06-18 07:24] weichenqi opened #56 "Problem with unreachable host"
Hi @apenella
When I excute with command----(1.1.1.1 is unreachable host for test)
/opt/homebrew/bin/ansible-playbook --extra-vars '{"host_name":"10.200.75.152,10.200.75.136,1.1.1.1"}' --inventory 10.200.75.136,10.200.75.152,1.1.1.1 --user root nstall-nginx.yml
is ok.
but with go-ansible i got a panic:
panic: Error during command execution: ansible-playbook error: parser error
tips:when i del 1.1.1

[2021-06-18 15:10] #55 closed

[2021-06-19 20:23] apenella commented on #56
Hi, @weichenqi!
I have been trying to reproduce what you described, but I couldn't.
What I propose you is to print the ansible-playbook command using the [String](https://github.com/apenella/go-ansible/blob/master/pkg/playbook/ansiblePlaybook.go#L192) method and check whether the command is the expected one.

On the other hand, I recommend using the [AddExtraVars](https://github.com/apenella/go-an

[2021-06-22 00:52] weichenqi commented on #56
Hi, @apenella
If I just modified code,
`err := playbook.Run(context.TODO())
	if err != nil {
		panic(err)
	}`
to
`playbook.Run(context.TODO())`
 the program can run normally with 1.1.1.1,
![image](https://user-images.githubusercontent.com/15993498/122845429-56a0b700-d336-11eb-94f8-8caff19bdfa3.png)

[2021-06-22 06:03] apenella commented on #56
Hi, @weichenqi
Thanks for the update.

As you can see on the example [json-stdout-ansibleplaybook](https://github.com/apenella/go-ansible/tree/master/examples/json-stdout-ansibleplaybook), instead of panic after `Run` you could do a soft management of the error, such as notify the error, and then parse the results.

[code]

In that case, the output received is:

[code]

I hope that this could help

[2021-06-23 00:48] weichenqi commented on #56
Yes, I see, it’s for better compatibility errors，thank you very much!

[2021-06-23 00:49] weichenqi commented on #56
Yes, I see, it’s for better compatibility errors。Thanks!

[2021-06-23 05:20] apenella commented on #56
Great @weichenqi
I am going to close the issue

[2021-06-23 05:20] #56 closed

[2021-06-23 06:01] rvben opened #57 "Typos in README.md"
There are a number of typos in the README file.
lastest > latest
recieves > receives
ansbile > ansible

[2021-06-23 06:14] apenella commented on #57
Hi @rvben
Thank you very much!
I have seen that you have also reviewed some language mistakes. Would you mind creating a PR?

[2021-06-23 19:54] rvben commented on #57
Hi @apenella

Thanks for your response. You can find the PR at https://github.com/apenella/go-ansible/pull/58.
Let me know if it's good like this.

[2021-06-24 01:49] wahello opened #59 "How to get success result?"
### How to get success result?

[2021-06-24 07:57] apenella commented on #57
Thanks a lot @rvben
I just merged it!

[2021-06-24 07:57] #57 closed

[2021-06-24 08:00] apenella commented on #59
HI @wahello
could you extend you question or give some more context, please?
Folder `https://github.com/apenella/go-ansible/tree/master/examples` has several examples where you could see how to manage Ansible results.

Thanks!

[2021-06-25 03:39] wahello commented on #59
@apenella Like executing builtin module `setup`, if successful, how to obtain the hardware info of the results in code? The result is printed in log.

[2021-06-28 06:09] apenella commented on #59
Hi @wahello!
`go-ansible` executes `ansible` commands. To achieve `setup`'s module results you need to update ansible playbook to do that. You could do it using ansible's `debug` module.

Let me know if you have any update!
Thanks

[2021-06-28 11:15] wahello commented on #59
@apenella I must missed something. How to get the print log, excuting this line
```err := adhoc.Run(context.TODO())```
when err is nil?.

[2021-06-28 11:39] wahello commented on #59
I got it.

[2021-06-30 03:27] cyberchao commented on #59
hi, Have you found a solution？i need to get adhoc result also.

[2021-07-01 06:11] apenella commented on #59
Hi! @cyberchao
by default, when you run an ad hoc command, its output is printed to stdout.

In case you would manage the output, such as is done when you use `json` stdout callback, you need to create your own executor and store the command output to a buffer.
Take a look at that example:
https://github.com/apenella/go-ansible/blob/master/examples/json-stdout-ansibleplaybook/json-stdout-ansiblepl

[2021-07-04 04:29] wahello commented on #59
@apenella Exactly!

[2021-07-04 04:30] #59 closed

[2021-07-05 09:54] wahello opened #60 "Is it possible to use network file such as http url as native file?"
#### Is it possible to use network file such as http url as native file?

[2021-07-05 12:33] wahello opened #61 "How pass argument password to adhoc command?"
### How pass argument password to adhoc command?

[2021-07-05 13:18] wahello opened #62 "adhoc command StdoutCallback as json raise err."
I have some code as following:

[code]

`res, err := results.JSONParse(buff.Bytes())`

panic.

[2021-07-06 00:53] wahello commented on #61
`ansibleAdhocOptions.AddExtraVar("ansible_password", "password")` works.

[2021-07-06 00:53] #61 closed

[2021-07-06 05:37] apenella commented on #61
@wahello  Great to know it!

[2021-07-06 05:44] apenella commented on #60
Hi @wahello!
`go-ansible` prepares and executes the `ansible` commands, but does not give additional features over `ansible`. As I know, `ansible` does not support network files, then files must be located locally.
Thanks!

[2021-07-06 05:53] apenella commented on #62
hi @wahello!
I updated [simple-ansibleadhoc](https://github.com/apenella/go-ansible/tree/master/examples/simple-ansibleadhoc) to use `json` stdout callback, and it finishes properly.
[code]

Can you share the panic's output?

Thanks!

[2021-07-14 07:38] aohan0503 opened #63 "how to get error during command execution？"

[2021-07-14 07:43] aohan0503 commented on #63
like this
![image](https://user-images.githubusercontent.com/81146139/125583190-493d30ad-7c96-4581-bdf3-ce3de482750f.png)

[2021-07-14 15:47] apenella commented on #63
Hi @aohan0503
When you use `DefaultExecutor` already shows the errors

I forced an  ansible parser error on `signals-and-cancellation-ansibleplaybook` example and that is the result:
[code]

Share some code snippets If you need more help.

Thanks!

[2021-07-28 05:32] apenella commented on #62
hi @wahello!
There is any update about you issue?

Thanks!

[2021-07-28 05:33] apenella commented on #63
hi @aohan0503!
There is any update about your issue?

Thanks!

[2021-07-30 07:09] aohan0503 commented on #63
hi @apenella
I want to get the stderr when ansible is executed ,errors like parsing errors。
Get stderr through go-ansible

[2021-07-30 07:49] aohan0503 commented on #63
Use execute.WithWriteError() method to get

Thanks!

[2021-08-03 06:21] glianyi opened #64 "results.JSONParse error"
**Multiple types of plays.tasks.hosts.msg**

`panic: Unmarshall error
	json: cannot unmarshal array into Go struct field AnsiblePlaybookJSONResultsPlayTaskHostsItem.plays.tasks.hosts.msg of type string `

[code]

[2021-08-03 15:38] apenella commented on #64
Hi @glianyi!
Thanks for reporting it!

Do you any playbook that I could use to reproduce it?

[2021-08-03 16:23] apenella commented on #64
@glianyi I go it!
I could reproduce it running the playbook:
[code]

[2021-08-03 16:37] #64 closed

[2021-08-03 16:38] apenella commented on #64
@glianyi it should be already fixed :)

[2021-08-03 16:43] apenella commented on #63
Hi @aohan0503!
I understand that you figured out how to solve it. Do you need anything else? Would you mind If I am closing that issue?

[2021-08-11 04:31] aohan0503 commented on #63
@apenella This issue can now be clos

[2021-08-18 17:39] #63 closed

[2021-08-18 17:40] apenella commented on #60
Hi @wahello
Do you need anything else?

[2021-08-29 18:03] apenella commented on #62
@wahello since there is any update about your issue, I am going to close it.
In case you need anything else, just open a new issue!
Thanks

[2021-08-29 18:03] #62 closed

[2021-10-28 14:00] rhugga opened #66 "Is their a mechanism for hostvars?"
Im building my inventory dynamically, but I want to use host variables, ie assume the following traditional inventory:

Can this library implement host variables that would have the same effect as this inventory file?
[code]

[2021-10-29 12:56] rhugga opened #67 "Help with StdoutCallbacks"
Im writing a large automation that will be running several playbooks and many adhoc commands.  Is there a way to get stdout/stderr from ansible commands using the shell/command modules in json or some structured output that can be easily parse?

I can only seem to get output like this:
[code]

My transformer:
[code]
Then how I set it up:
[code]

Is there a way to get stdout/stderr back in a json s

[2021-11-02 06:43] apenella commented on #66
hi! @rhugga
go-ansible does not offer extra capabilities over ansible commands, and you need to define variables as ansible does.
You can inject variables into the host's variable is using `set_fact`, and even you can combine it with `hostvars[inventory_hostname]` or `groups[my_group] but I don't know if it responds your question.

Thanks!

[2021-11-02 07:18] apenella commented on #67
Hi @rhugga
The way to get the ansible command output as a json is using the json's stdout callback. It seems that you tried but it did not convince you.
One drawback of using json stdout callback is that the result is shown once the playbook finishes, and another one is that you will need to walk through all task till you achieve the shell/command task. Fortunately, you could use [JSONParse](https

[2021-11-02 13:53] rhugga commented on #67
I'm using the json callback for playbook commands, I'm talking about adhoc commands here where the structure will be random and tied directly to whatever shell command you're running.  I'll look into the diy callback, maybe that's what I'm looking for.

So for example, we have an in-house utility for managing kernel upgrades that lives on every host. It's an old command, it's a mess of perl code t

[2021-11-03 13:23] apenella commented on #67
Hi @rhugga
I would recommend to keep transformer as simple as you can. It is executed on each output line received from ansible command.
In that case, I would recommend processing it once the playbook finishes.

I have realized that to get the output from the shell/command task, it would be better to include ansible's `stdout` attribute to `AnsiblePlaybookJSONResultsPlayTaskHostsItem` struct.
I am

[2021-11-03 13:26] apenella opened #68 "Include stdout to AnsiblePlaybookJSONResultsPlayTaskHostsItem"
Stdout and Stdout_lines attributes that are defined on ansible json output are missing on AnsiblePlaybookJSONResultsPlayTaskHostsItem

[2021-11-03 13:26] apenella commented on #67
related to #68

[2021-11-03 14:07] rhugga commented on #67
Thx I'll give it a shot today.

[2021-11-03 19:13] #68 closed

[2021-11-03 19:19] apenella commented on #67
Hi @rhugga
v1.1.2 has been released and includes the above example as `walk-through-json-output-ansibleplaybook`
Let me know if it helps you!

[2021-11-29 17:52] LoveXayah opened #70 "help with remote options"
how can i connect to remote host to run ansible-playbook,the options in the code are local,can somebody share a remote config?

[2021-12-01 06:54] apenella commented on #70
hi @LoveXayah
thanks for your question.

The connection parameter is used to specify which connection plugin is going to be used to connect to the hosts.
In case that you want to connect to remote host, you need to define it on the ansible inventory and do not specify any connection, by default, ansible uses smart connection.

You could read more about connection to hosts on ansible [here](https:/

[2021-12-01 19:00] apenella commented on #67
Hi @rhugga
regarding that issue, do you need any thing else?

Thanks!

[2021-12-01 19:00] apenella commented on #66
Hi @rhugga
regarding that issue, do you need anything else?

Thanks!

[2021-12-02 14:51] rhugga commented on #67
That helped. I ended up making a further mod to include more fields, I can't recall now haven't looked at this code in over a month.  Thx!

[2021-12-02 14:51] #67 closed

[2021-12-02 14:51] #66 closed

[2021-12-02 14:52] rhugga opened #71 "Can you construct a playbook fully with code?"
Right now my playbooks are local yaml files. I was curious if you can completely construct a playbook in code with this library and completely removed the dependence on static files?

[2021-12-02 19:14] apenella commented on #71
hi @rhugga
unfortunatelly that is not possible. The library is just an executor for ansible-playbook and ansible command.

[2021-12-05 16:24] rhugga commented on #71
Thx.

[2021-12-05 16:24] #71 closed

[2021-12-05 16:24] rhugga opened #72 "Can you get the results from AdHoc commands?"
I can't seem to find a way to do this.

[2021-12-07 06:46] apenella commented on #72
Hi @rhugga
 AnsibleAdhocCmd works in the same way as  AnsiblePlaybookCmd. You could set a customized executor, with an specific writer such as buffer which  you could use to get the command results. Even, you can define an stdoutcallback

[Here](https://github.com/apenella/go-ansible/blob/master/examples/json-stdout-ansibleplaybook/json-stdout-ansibleplaybook.go#L31) there is an example for Ansibl

[2021-12-10 09:14] #70 closed

[2021-12-10 18:14] apenella opened #75 "Execute ansible-vault command"
**Enhancement request**
Execute ansible-vault command using go-ansible.
_edit_ subcommand could be excluded.

[code]

[2021-12-18 15:21] sestegra opened #76 "Support multiple playbooks using results.JSONParse"
When executing multiple playbooks in `playbook.AnsiblePlaybookCmd`, the JSON parsing doesn't work.

For instance, I tested with `examples/json-stdout-ansibleplaybook/json-stdout-ansibleplaybook.go`.
[code]

The result is following.
[code]

`playbook.AnsiblePlaybookCmd` uses `Playbooks` fields as an array of playbook's name, so I suggest to have an array of `AnsiblePlaybookJSONResults` as `results.

[2021-12-18 16:50] sestegra commented on #76
FYI, JSON output is cumulative.
See related issue
https://github.com/ansible-collections/ansible.posix/issues/105

[2021-12-20 06:34] apenella commented on #76
hi @sestegra !
Thank you very much for reporting that bug.
I am going to check #77 and prepare a new release.

Regards!

[2021-12-21 03:06] LoveXayah opened #79 "about ansible.cfg"
while i worked on this project,i find it doens't run ansible-playbook as i think,i change ansible.cfg log_path,but the go-ansible's log doesn't record ansible's output there.
i read the code but don't find any config about log,does the execute.WithWrite work?
here's code
	file,err:= os.OpenFile("xayah.log",os.O_RDWR | os.O_CREATE | os.O_APPEND,0766)

	playbook := &playbook.AnsiblePlaybookCmd{
		Pl

[2021-12-22 07:10] apenella commented on #76
Hi @sestegra
I reviewed you PR #77 before prepare the release and I made some changes to your proposal.
1 - I kept the original `JSONParse` function because I do not want to introduce a breaking change, and I neither want to do a major release.
2 - I created a new function `ParseJSONResultStream` inspired by your `JSONParse`.
2.1 - The function `ParseJSONResultStream` just receives one parameter,

[2021-12-22 07:18] #76 closed

[2021-12-22 07:32] apenella commented on #79
Hi @LoveXayah
I need to understand want you mean... Would you want to write the ansible-playbook output to a file or is the log_path what you want to configure?
On your snipped, you are writing the ansible-playbook output into a file.

`go-ansible` does not manage ansible configuration. You could try to update the configuration log-path by including [log-path](https://docs.ansible.com/ansible/late

[2021-12-22 18:26] apenella commented on #72
HI @rhugga
any update about this issue?

[2022-01-09 14:19] morningspace commented on #24
@apenella Just a quick question, I see the `DefaultAnsiblePlaybookBinary` in code, but I have no idea where the default one comes from. Is there a default binary available (and what version it is), or I should always specify a binary by myself using `AnsiblePlaybookCmd.Binary`?

[2022-01-10 08:20] apenella commented on #24
hi @morningspace
Thanks for your question.

[exec.LookPath](https://pkg.go.dev/os/exec#LookPath) is used to locate the binary path. You could see it [here](https://github.com/apenella/go-ansible/blob/master/pkg/playbook/ansiblePlaybook.go#L123).

I hope that it could help you.

regards!

[2022-01-10 08:21] apenella commented on #79
hi @LoveXayah
there is any update about it?

[2022-01-27 23:10] mussa572 opened #80 "Ansible command"
Hi

I am looking to run the following command . Just wondering if its possible using the go-ansible , Any pointers how I can run following command

ansible-playbook -i hosts.yml platform.all

[2022-01-28 07:02] gy95 commented on #24
I also encountered this problem, i run `github.com/apenella/go-ansible/examples/cobra-cmd-ansibleplaybook` example, and the error output is like below:
what can I do to build or download `ansible-playbook` binary? @apenella , thanks :)
[code]

[2022-01-28 09:41] #80 closed

[2022-01-28 15:47] apenella commented on #79
@LoveXayah since there is no activity on this issue, I close it.

[2022-01-28 15:47] #79 closed

[2022-01-28 15:47] apenella commented on #72
@rhugga since there is no activity on this issue, I close it.

[2022-01-28 15:47] #72 closed

[2022-01-28 15:50] apenella commented on #24
Hi @gy95
`go-ansible` requires ansible to be installed.
I should include a requirements section on the README.md page.

[2022-01-29 01:08] gy95 commented on #24
yes, just run `apt install ansible`

[2022-02-07 08:07] ranjanp75 opened #82 "How to pass ansible environment variables for the ansible playbook?"
Hi @apenella, I am trying to understand how I can set the env variables for running Ansible playbook. I tried setting the env variable "ANSIBLE_LOG_PATH" by doing `os.Setenv("ANSIBLE_LOG_PATH", "test.log")` before triggering the following command. The ansible does not seem to log even with the env set. Could you please help me with this?

The code snippet is as follows
[code]

[2022-02-07 12:24] gy95 opened #83 "What's the difference between AnsibleAdhocCmd and AnsiblePlaybookCmd? 😄"
I find that this project provides two Packages: adhoc and playhook? what's the difference between the two packages?
Can I use playhook package to do something that adhoc package intends to do? 😄 @apenella  Thanks a lot :)

[2022-02-08 07:05] apenella commented on #82
Hi @ranjanp75
You are not using the proper environment variable, to configure the default log path.
`ansible` documentation could be misunderstood, because the name of the parameter and the name of environment variable that sets that parameter, does not have the same name. You need to use `ANSIBLE_LOG_PATH`
Take a look at these: https://docs.ansible.com/ansible/latest/reference_appendices/config.h

[2022-02-08 07:12] apenella commented on #83
hi! @gy95
[AnsibleAdhocCmd](https://github.com/apenella/go-ansible/blob/master/pkg/adhoc/adhoc.go#L88) executes ansible ad hoc commands. Take a look at [this](https://docs.ansible.com/ansible/latest/user_guide/intro_adhoc.html).
[AnsiblePlaybookCmd](https://github.com/apenella/go-ansible/blob/master/pkg/adhoc/adhoc.go#L88) execute ansible playbooks, [here](https://docs.ansible.com/ansible/latest/u

[2022-02-08 07:41] gy95 commented on #83
Thanks 😄

[2022-02-08 17:46] gciavarrini opened #85 "Add attributes to AnsiblePlaybookJSONResultsPlayTaskHostsItem"
Attributes `cmd`, `skipped`, `skip_reason`, `failed`, and `failed_when_result` that are defined on ansible json output are missing into `AnsiblePlaybookJSONResultsPlayTaskHostsItem`.

[2022-02-08 17:57] gciavarrini opened #87 "Typo "resutls""
Both in `docs/upgrade_guide_to_1.0.0.md` and in `pkg/stdoutcallback/results/JSONResults.go` there is the typo "resutls".

[2022-02-09 06:40] #87 closed

[2022-02-11 07:17] apenella commented on #85
fixed on #89

[2022-02-11 07:17] #85 closed

[2022-02-11 13:12] ylxxwx opened #90 "AnsibleAdhocCmd return error when args has spaces"
When I use AnsibleAdhocCmd w/ Args('ping x.x.x.x -c 10'), I see this error. This command works in shell. The root cause is there are spaces in teh args. Any solution?

*errors.Error(&errors.Error{context:"(DefaultExecute::Execute)", message:"Error during command execution: ansible-playbook error: one or more host failed\n\nCommand executed:  /usr/bin/ansible all --args 'ping x.x.x.x -c 10' --inven

[2022-02-13 19:45] apenella commented on #90
hi! @ylxxwx
Thanks for rising that issue.
Let me check it.

btw, does it also fails if you execute the command that is show on the error message?

[2022-02-15 06:52] apenella commented on #90
hi @ylxxwx
Can you take a look at [command-module-ansibleadhoc](https://github.com/apenella/go-ansible/blob/fix/adhoc-args-with-space/examples/command-module-ansibleadhoc/command-module-ansibleadhoc.go) example?

I made it run on my system:
[code]

It also worked out on a remote server, using ssh connection:
[code]

As I could see on #91 , I did not change anything that should solves it, I just qu

[2022-02-15 07:12] apenella commented on #52
hi @TheFieryLynx
I am already working on that issue. You could check the PR #92
The idea is to remove the show duration responsibility from `DefaultExecute`'s `Execute` method, and define a new method to achieve the duration.

[2022-02-16 01:36] ylxxwx commented on #90
Let me test it again. Will reply later.

[2022-02-22 06:41] #52 closed

[2022-02-22 06:43] apenella commented on #52
hi @TheFieryLynx
although it does not belong to any release yet, on master branch duration time is not measured anymore inside the executor, but has been created a decorator to do that.

Thanks for raising it up!

[2022-02-22 06:45] #83 closed

[2022-02-22 06:52] #90 closed

[2022-02-22 06:53] apenella commented on #82
hi @ranjanp75
there is any update about this issue?

[2022-04-01 10:03] torans opened #95 "you must install the sshpass program"
os:MacOS
go-ansible version:1.1.5
when that i set the "ansible_ssh_passwd" to the hosts file, i got the error:

"msg": "to use the 'ssh' connection type with passwords or pkcs11_provider, you must install the sshpass program"

i have installed the sshpass on my macos, how to solve the trouble?

[2022-04-01 19:03] cdwbrad opened #96 "question: usage in as-a-service"
Greetings,

I'm really intrigued by what you're doing here.  I was wondering if you've received any feedback from the community on how others are using this?

I want to implement an "Ansible-as-Service" in our K8s cluster.  And it looks like ansible's own [ansible-runner-service](https://github.com/ansible/ansible-runner-service) has begun to atrophy.  Using go-ansible in a similar fashion seems d

[2022-04-02 13:39] apenella commented on #95
Hi @torans
Do you face the same error when you execute the playbook using `ansible-playbook` directly?

Does sshpass works when you execute it through command line (`sshpass -p mypass ssh myusername@myhost`)?

I will also try to reproduce it

[2022-04-02 15:15] apenella commented on #96
Hi! @cdwbrad
Your idea seems really interesting, I would like to know more about it!

I also have in mind a project that exposes a rest api to execute ansible, such `ansible-runner-service` does, but using `go-ansible` library. The idea came from #18, but any line has been written yet. I would like to do it just for personal learning with any other goal, then I have no rush to start it, I just wai

[2022-05-29 14:21] superops-team opened #97 "missing package measure for 1.1.5"
go: finding module for package github.com/apenella/go-ansible/pkg/execute/measure

	github.com/apenella/go-ansible/pkg/execute/measure: module github.com/apenella/go-ansible@latest found (v1.1.5), but does not contain package github.com/apenella/go-ansible/pkg/execute/measure

[2022-05-29 16:58] apenella commented on #97
HI @superops-team
measure package is not available on v1.1.5, it is only available on master branch and it does not belong to any release yet.
On [release notes](https://github.com/apenella/go-ansible/blob/master/RELEASE_NOTES.md) you could see those changes that are already implemented but does not belong to any release.
In case that is required any fix, it will be released on v1.1.6, otherwise i

[2022-06-14 16:13] apenella commented on #52
@TheFieryLynx just to let you know, I decided to prepare the release v1.1.6 which will have that changes.
Thank you very much!

[2022-06-14 16:15] #95 closed, assigned to nobody

[2022-06-14 16:15] apenella commented on #97
@superops-team since there is no update on that issue, I am going to close it. Just to let you know the measure package will be released these week on v1.1.6

[2022-06-14 16:15] #97 closed

[2022-06-14 16:16] apenella commented on #96
@cdwbrad since there is no update on that issue, I am going to close it

[2022-06-14 16:16] apenella commented on #82
@ranjanp75 since there is no update on that issue, I am going to close it

[2022-06-14 16:16] #82 closed

[2022-06-14 20:35] TheFieryLynx commented on #52
Thank you!

[2022-06-27 16:46] rhugga opened #105 "Writing Tests"
Anyone know of a good example of writing tests for code using this library. Where I work we have a ridiculous pull request process that requires near total test coverage and I'm having a helluva time coming up with some meaningful tests. Especially since I'm wrapping the code inside the urfave/cli framework which in itself is a challenge to write tests for.

For example, here is a simple ping comm

[2022-06-28 05:21] apenella commented on #105
Hi @rhugga
I use the following approach to test an application that uses go-ansible library. The main idea is testing how the library is called, and to achieve it, go-library can't called it directly.

To do that I wrapped the library in a facade which has a set of methods to configure the `AnsiblePlaybookCmd` object. I also created a mock for that wrapper, then I could inject either the wrapper o

[2022-07-20 03:36] HCY2315 commented on #64
json: cannot unmarshal bool into Go struct field AnsiblePlaybookJSONResultsPlayTaskHostsItem.plays.tasks.hosts.unreachable of type string: Error decoding results
	json: cannot unmarshal bool into Go struct field AnsiblePlaybookJSONResultsPlayTaskHostsItem.plays.tasks.hosts.unreachable of type string

[2022-07-20 03:42] HCY2315 opened #106 "There is an error in this type（AnsiblePlaybookJSONResultsPlayTaskHostsItem.plays.tasks.hosts.unreachable）"
error info:
         json: cannot unmarshal bool into Go struct field AnsiblePlaybookJSONResultsPlayTaskHostsItem.plays.tasks.hosts.unreachable of type string: Error decoding results
	json: cannot unmarshal bool into Go struct field AnsiblePlaybookJSONResultsPlayTaskHostsItem.plays.tasks.hosts.unreachable of type string
[code]

The unreachable field in the buff information I checked is of bool typ

[2022-07-20 05:18] apenella commented on #105
HI @rhugga
did it help you?

[2022-07-20 05:24] apenella commented on #106
HI @HCY2315
It should be already been fixed on master branch. It doesn't belong to any release yet.

Could you use master branch instead of using the tag?

Here you have the fix:
https://github.com/apenella/go-ansible/pull/103/files#diff-eafbef43147ddf52d1d65411fa7d41401688dfb40b5cfa0204ec675b30425d87R104

[2022-07-21 17:13] thedarthcoder commented on #106
Hi there,
Any update on when this will be available in a release?

Also, thanks for this awesome package!

[2022-07-22 02:10] torans commented on #95
Thanks. now it is normal for me.

[2022-07-22 06:00] apenella commented on #106
Hi @thedarthcoder
I don't have an estimated time for the next release.
Since https://github.com/apenella/go-ansible/pull/103 is the only fix ready to be released, I am going to wait at least a couple of months before releasing it with fixes.

Thank you very much!

[2022-08-01 12:16] nguyenphituan opened #107 "missing single quote character of --extra-vars"
Hi Apenella,

The string generated by AnsibleAdhocOptions misses single quote character around JSON string while using adhoc. Ansible 6.x refuses to read it as correct form of command:

Output err:

It seems that converting json to string just converts to plain string, not string which can be used in ad-hop command.

[2022-08-16 06:54] apenella commented on #107
Hi @nguyenphituan
Are you aware if it happens with ansible 5?
I haven't check go-ansible with ansible 6 yet. I would like to discard if it is related to ansible 6.
Thanks

[2022-08-16 07:25] apenella commented on #107
Hi @nguyenphituan
Which go-ansible version are you using?
I have been testing it with go-ansible 1.1.6 and ansible 6.2.0 (ansible-core 2.13.2) and it seems that is working.

I updated the example [ansibleadhoc-simple](https://github.com/apenella/go-ansible/tree/master/examples/ansibleadhoc-simple) to use the module `shell` and to use extra-vars as well. You could find the update below:
[code]

The

[2022-08-16 14:30] #105 closed

[2022-08-19 14:45] apenella commented on #106
@thedarthcoder @HCY2315 the fix is already available on the release v1.1.7.

I close the issue.
Thanks!

[2022-08-19 14:45] #106 closed

[2022-08-23 07:56] nguyenphituan commented on #107
I think the problem is not Ansible, it's Go problem since Go create command line and execute it:
Testing enviroment:

Code:

Result:

Running Ansible command with single quote works as expected.

[2022-08-24 06:09] apenella commented on #107
@nguyenphituan
I may be wrong, but I suspect that you are using an older `go-ansible` version.
When I reviewed your output I missed the quotes either on `args` and `extra-vars`.
Check you `go.mod` file in order to know which `go-ansible` version are you using, and update it to latest version, `v1.1.7`.

If you check the code, you will see that both arguments are delimited by single quote.
Here you

[2022-08-24 07:50] nguyenphituan commented on #107
Go.mod already use version 1.17:

I add double quote as a workaround to make it work, it has the same problem as single quote. But i can't find a way to add single quote. IMO converting from json to string function doesn't put single quote at the beginning and in the end of the string so i don't know where it's added.

[2022-08-25 05:59] apenella commented on #107
@nguyenphituan
I would like to reproduce in somehow what you found but I need to figure out how to reproduce it before.

Just to summarize what you are facing: Given the following piece of code:
[code]
You expect the following extra-vars outcome when you call the [String](https://github.com/apenella/go-ansible/blob/master/pkg/adhoc/adhoc.go#L392) method (json delimited by quotes):
[code]
And you r

[2022-08-25 09:15] nguyenphituan commented on #107
I got it. Printing adhoc.Command() doesn't have single quote while printing with adhoc.String() does have:

Command from Ansible output doesn't have single quote but i guest executed command has quote:

So it's worked as expected since the command was execute without invalid arguments or extra vars incorrect error (I removed double quotes from args). I was confused with printing adhoc.Command() an

[2022-08-25 09:15] #107 closed, assigned to nobody

[2022-08-31 08:55] YXY-121 opened #110 "when i use Verbose=true in playbookOptions, parsejson fail invalid character 'a' looking for beginning of value"
when i use “Verbose:   true ” in playbook.AnsiblePlaybookOptions,output could not be parsed to result.AnsiblePlaybookJSONResult struct and err：invalid character 'a' looking for beginning of value
but if i set “Verbose:   false ”，the json parse ok.
can u help me?thank u very much!

        ansiblePlaybookConnectionOptions := &options.AnsibleConnectionOptions{
		Connection: "local",
	}
	ansiblePlayb

[2022-08-31 09:21] YXY-121 commented on #110
the version what i use is the lastest

[2022-08-31 09:36] YXY-121 commented on #110
oh i know the reason.  when use verbose,the buff not only contains the json struct value,the buff contains something detail about the playbook ,they are not json struct

[2022-09-01 05:11] apenella commented on #110
Hi @YXY-121
Thanks for raising that issue, I was not aware about it.
The reason is exactly what you said :)

I would like to think a solution in depth, no just to solve that issue but how to set some restrictions depending on the stdout callback.

[2022-09-07 02:05] YXY-121 commented on #110
wow i am interested in it. i would like to find out the solution with u

[2022-10-17 08:14] SimplyTrying opened #112 "PrivateKey option should be an array/slice"
Since ansible-playbook command allows to pass multiple  --private-key file. It picks among them what works in the given inventory and ignore others. It will be a good idea to keep that option an an array.

[2022-10-20 05:25] apenella commented on #112
Hi @SimplyTrying
Thanks for raising that. Since I would like that `go-ansible` could execute ansible commands in the same way you do in your command line, I am going to allow you to add multiple private keys.
Thank you!

[2022-11-10 08:14] papozhang opened #113 "How can I modify VerboseFlag"
https://github.com/apenella/go-ansible/blob/ad0142112a3e81102b3676e43972ac234069c0a9/pkg/playbook/ansiblePlaybook.go#L84

I want to customize VerboseFlag = "-v"

[2022-11-11 06:39] apenella commented on #113
Hi! @papozhang
unfortunately, at this moment you can't customize that flag.
I would give it a thought for the future version but I will not implement a solution in short term.

Thanks for your understanding!

[2022-11-18 08:19] Yang-yyf opened #114 "How can I run the example "ansibleplaybook-walk-through-json-output""
When I run the example ansibleplaybook-walk-through-json-output.go, I met this err:
ERROR! Invalid callback for stdout specified: json
Error during command execution: ansible-playbook error: general error

What should I do?

[2022-11-18 13:54] apenella commented on #114
HI @Yang-yyf
Thanks for your message.

I executed the example as it comes in the repository, and it works for me
[code]
I think that I would need more details, in order to help you.
Could you provide me a snippet from the output? Are you running the example as it is?

I tested it using the go-ansible's master branch, the ansible-core's version that I am using is 2.13.6 and the ansible version is 6

[2022-11-18 15:56] Yang-yyf commented on #114
I do run the command like go run ansibleplaybook-walk-through-json-output.go, and I got this :
ERROR! Invalid callback for stdout specified: json
Error during command execution: ansible-playbook error: general error

I check the version of my ansible,It seems like this:
ansible [core 2.15.0.dev0]
  config file = None
  configured module search path = ['/Users/admin/.ansible/plugins/modules', '/usr

[2022-11-19 15:29] apenella commented on #114
Hi!
Since go-ansible is just an ansible wrapper to execute it through Golang, would you mind executing it directly with Ansible?
[code]

I saw that you are using `ansible-core 2.15.0.dev0', which is not a stable release and I don't know how it could influence the results you received.

[2022-11-19 15:42] Yang-yyf commented on #114
Hi, Thanks for your help.
It seems that my ansible-core was not a stable release version, because when I run the command directly, ansible returns me  the same error. I will change ansible's version.
Thank you!

[2022-11-19 16:00] apenella commented on #113
HI @papozhang
I am going to merge PR #115 which will allow you to define multiple verbosity levels either on the ansible-playbook or ansible ad-hoc commands.

[2022-11-19 16:05] #113 closed

[2022-11-19 16:15] apenella opened #116 "Create a container executor"
*What*
Execute ansible command inside a container

[2022-11-19 16:18] apenella commented on #114
Good to know that we figured out why it does not work!
Thank you!
I am going to close the issue!

[2022-11-19 16:18] #114 closed